<div class="row">
	<h1>Profil</h1>
	<p>
		<h5>Photo de profil :</h5>
		<%= image_tag current_admin.avatar.profile.url if current_admin.avatar? %>
	</p>
	<p>
		<h5>Adresse email :</h5>
		<%= @admin.email %>
	</p>
	<div class="big default btn">
	<%= link_to 'Modifier des informations', edit_admin_registration_path(@admin), :class => 'button secondary small' %>
	</div>
</div>