<div class="row">
	<div  class="twelve columns">


	    <ul id="grid" class="two_up tiles">
		    <li>
		        <a href="/programmes/new">
		            <span class="h-icon h-icon-npro"></span>
		            <h3 class="h-title">Nouveau programme</h3>
		            <span class="h-category">Créer</span>
		        </a>
		    </li>
		    <li>
		        <a href="/exercices/new">
		            <span class="h-icon h-icon-nexo"></span>
		            <h3 class="h-title">Nouvel exercice</h3>
		            <span class="h-category">Créer</span>
		        </a>
		    </li>
		    <li>
		        <a href="/programmes">
		            <span class="h-icon h-icon-pro"></span>
		            <h3 class="h-title">Les programmes</h3>
		            <span class="h-category">Liste</span>
		        </a>
		    </li>
		   <li>
		        <a href="/exercices">
		            <span class="h-icon h-icon-exo"></span>
		            <h3 class="h-title">Les exercices</h3>
		            <span class="h-category">Liste</span>
		        </a>
		    </li>
		</ul>


	</div>

</div><!-- row div -->