<div class="row">
	<div  class="twelve columns">

	    <p>Bienvenue sur ton tableau de bord, <%= link_to current_admin do %><%= current_admin.email %><% end %> !</p>








	</div>

</div><!-- row div -->