<div class="text-center">
	<h1>
		Inscrivez-vous d&egrave;s maintenant <small>pour être averti du lancement officiel !</small>
	</h1>
</div>
<form action="http://dusportpourtous.us7.list-manage.com/subscribe/post" method="POST">
<input type="hidden" name="u" value="6a3244444459ec9b0cee577a0">
<input type="hidden" name="id" value="b031077859">

<div class="large-12 columns">
    <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="Adresse email">
</div>

<div class="large-12 columns">
<input type="submit" class="large expand button" name="submit" value="Je m'inscris !">
</div>