#top-wrapper {
	margin:0;
	padding:0;
}
#top-heading {
	background: #333333; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3MjcyNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzMzMzMzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #333333 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#333333), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #333333 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #333333 0%,#000000 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #333333 0%,#000000 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #333333 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	padding-top: 70px;
	margin-top: -15px;
	padding-bottom: 135px;
	color: #f5f5f5;
}
#top-heading h1, #top-heading h5 {
	color: #f5f5f5;
}
#top-heading h1 {
	text-transform: uppercase;
	font-size: 3.5rem;
	line-height: 3.5rem;
}
#top-heading #message span, #top-heading #message i {
	color: #ff6600;
}
#top-heading #message .icon-facetime-video {
	color: #333333;
}
#top-heading #inscription {
	margin-top: 1.25em;
}
#top-heading #inscription h5 {
	margin-bottom: 0px;
}
#top-heading #inscription span {
	line-height: 1.25em;
}
#top-heading #link_facebook a {
	color: #fff;
}
#top-heading form {
	margin-top: 1.25em;
}
#top-heading form input {
	margin-bottom: 5px;
}

#heading {
	margin: 1.25em 0;
	font-size: 0.9rem;
}
#heading h1 { 
	color: #ff6600;
	text-transform: uppercase;
}

#content .small-8 {
	padding-top: 20px;
}
#content .large-12 {
	margin: 1.25em 0;
}
#content p {
	font-size: 0.8rem;
	line-height: 1.1rem;
}

#sport {
	border-top: 2px solid #ff6600;
}
#sport h1 {
	color: #ff6600;
	border-top: 10px solid #ff6600;
	margin-top: 0;
	margin-left: -15px;
}
#sport img {
	border: 4px solid #ccc;
}

#media {
	border-top: 2px solid #99cc66;
}
#media h1 {
	color: #99cc66;
	border-top: 10px solid #99cc66;
	margin-top: 0;
	margin-left: -15px;
}

#profil {
	border-top: 2px solid #cccccc;
}
#profil h1 {
	color: #cccccc;
	border-top: 10px solid #cccccc;
	margin-top: 0;
	margin-left: -15px;
}
#profil .large-6 {
	padding: 1.25em 0;
}

#complementary {}
#complementary .head {
	background: #ff6600;
	color: #f5f5f5;
	padding: 1.25em 0;
}
#complementary .head h1 {
	margin: 0;
	padding: 0;
	color: #f5f5f5;
	text-transform: uppercase;
}