.thp {
	padding: 0 5px 2px 0; 
}
li.name h1 a {
	font-family: 'Conv_Dolphin-Sans';
	font-size: 1.6rem;
}

#c_email a {
	font-weight: normal;
	line-height: 12px;
	font-size: 12px;
	margin-top: 15px;
	color: rgba(255,255,255,.75);
	background: none;
}

#c_password label.checkbox {
	color: rgba(255,255,255,.75);
	font-size: 12px;
	line-height: 12px;
	margin-top: 5px;
}

#c_login {
	margin-top: 15px;
	background: none;
}
#c_login li.has-form {
	background: none;
}

