@font-face {
    font-family: 'icomoon';
    src: url(font-path('icomoon.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('icomoon.woff')) format('woff'), 
         url(font-path('icomoon.ttf'))  format('truetype'),
         url(font-path('icomoon.svg') + "#icomoon") format('svg');
  	font-weight: normal;
  	font-style: normal;
}