

#wrapper-login {
  height: auto;
background: #ff6614; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiNmZjY2MTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWY3NzAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover,  #ff6614 1%, #ef7700 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#ff6614), color-stop(100%,#ef7700)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #ff6614 1%,#ef7700 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #ff6614 1%,#ef7700 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #ff6614 1%,#ef7700 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #ff6614 1%,#ef7700 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6614', endColorstr='#ef7700',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}
#footer {
  text-align: center;
}
#footer a {
  color: #FF8B00;
}
#footer a:hover {
  text-decoration: underline;
}
/* LAYOUT CSS */
#notice {
  background: #FF8B00;
  color: #f5f5f5;
  text-align:center;
}
#login {
  text-align: center;
}
#login h1 {
  color: #333;
  padding-bottom: 1.0em;
  line-height: 2.0em;
}
#login fieldset {
  padding: 2.0em;
}
#login a {
  color: #555;
  font-size: 0.8em;
  margin-top: -2.0em;
}
#login a:hover {
  text-decoration: underline;
}
#login-btn {
  margin-top: 2.0em;
}





#layout {
    position: relative;
    text-align: center;
}
.navbar {
  background: #FF8B00;
 
}
.navbar ul li > a {
   text-shadow: none;
   color: #f5f5f5;
}
.navbar h5 a {
  color: #000;
}
.navbar ul li > a:hover {
  background: #f5f5f5;
  color: #ff8b00;
}
.navbar li .dropdown ul > li a {
  color: #ff8b00;
  border-bottom: none;
}





#grid {
  text-align:center;
}

#grid li {
  height: 350px;
  text-align: center;
}

#grid:before,
#grid:after {
  content: "";
  display: table;
}

#grid:after {
  clear: both;
}

#grid li > a {
    display: block;
    height: 100%;
    color: #FF8B00;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    text-decoration: none;
}

.h-icon {
    padding: 30px 0 0 0;
    display: block;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}

.h-icon:before {
    font-family: 'icomoon';
    font-size: 14em;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.h-icon-npro:before {
    content: "\e001";
}
 
.h-icon-nexo:before {
   content: "\e000";
}
 
.h-icon-pro:before {
    content: "\e003";
}
 
.h-icon-exo:before {
    content: "\e002";
}

#grid .h-title {
    margin: 20px 0 10px 0;
    padding: 20px 0 0 0;
    font-size: 1.5em;
    position: relative;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}

#grid .h-title:before {
    content: '';
    position: absolute;
    background: #FF8B00;
    width: 160px;
    height: 6px;
    top: 0px;
    left: 50%;
    margin: -10px 0 0 -80px;
    -webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
    -moz-transition: margin-top 0.2s;
    transition: margin-top 0.2s;
}

#grid .h-category {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1em;
    letter-spacing: 1px;
    color: #ff8b00;
    -webkit-transform: translateY(10px);
    -moz-transform: -moz-translateY(10px);
    -ms-transform: -ms-translateY(10px);
    transform: translateY(10px);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    -webkit-transition: transform 0.3s, opacity 0.2s;
}

#grid li:hover .h-category,
.touch #grid li .h-category {
    opacity: 1;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
}

#grid li > a:hover {
    background: #FF8B00;
}
 
#grid li > a:hover .h-icon {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
 
#grid li > a:hover .h-icon:before,
#grid li > a:hover .h-title {
    color: #fff;
}
 
#grid li > a:hover .h-title {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}
 
#grid li > a:hover .h-title:before {
    background: #fff;
    margin-top: 80px;
}






table {
  display: table;
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ff8b00;
}
table caption {
  text-align: center;
  font-size: 30px;
  padding: .75em;
}
table thead th,
table tbody td,
table tr td {
  display: table-cell;
  padding: 10px;
  vertical-align: top;
  text-align: left;
  border-top: 1px solid #ff8b00;
}
table tr td, table tbody tr td {
  font-size: 16px;
}
table tr td:first-child {
  font-weight: bold;
}
table thead {
  background-color: #ff8b00;
  color: #fff;
}
table thead tr th {
  font-size: 16px;
  font-weight: bold;
  vertical-align: bottom;
}
table.striped tr:nth-of-type(even),
table table tr.stripe,
table table tr.striped {
  background-color: #ff8b00;
}
table.rounded {
  border-radius: 4px;
  border-collapse: separate;
}
table.rounded caption + thead tr:first-child th:first-child,
table.rounded caption + tr td:first-child,
table.rounded > thead tr:first-child th:first-child,
table.rounded > thead tr:first-child td:first-child,
table.rounded > tr:first-child td:first-child {
  border-top-left-radius: 4px;
}
table.rounded caption + thead tr:first-child th:last-child,
table.rounded caption + tr td:last-child,
table.rounded > thead tr:first-child th:last-child,
table.rounded > thead tr:first-child td:last-child,
table.rounded > tr:first-child td:last-child {
  border-top-right-radius: 4px;
}
table.rounded thead ~ tr:last-child td:last-child,
table.rounded tbody tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}
table.rounded thead ~ tr:last-child td:first-child,
table.rounded tbody tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}
table.rounded thead th, table.rounded thead td,
table.rounded caption + tbody tr:first-child td,
table.rounded > tbody:first-child tr:first-child td {
  border-top: 0;
}