<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DZ Website</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
        <link rel="stylesheet" href="http://purecss.io/combo/1.4.1?/css/main.css&/css/rainbow/baby-blue.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css">

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome-ie7.css">
        <link rel="author" href="humans.txt">
    </head>
    <body>
	 <div class="pure-g-r" id="layout">
        <a href="#menu" id="menuLink" class="pure-menu-link">
		    <img src="http://purecss.io/img/navicon-png2x.png" width="20" alt="Menu toggle">
		</a>

		<div class="pure-u" id="menu">
		    <div class="pure-menu pure-menu-open">
		        <a class="pure-menu-heading" href="/">CoachVincent</a>

		        <ul>
		          
		            <li class=" ">
		                <a href="">Programmes</a>
		            </li>
		          
		            <li class=" ">
		                <a href="">Exercices</a>
		            </li>

		            <li class=" ">
		                <a href="">Dico des sports</a>
		            </li>

		              <li class="menu-item-divided">
		                <a href="" class="pure-button pure-button-warning">  <i class="icon-cog"></i>Se déconnecter</a>
		            </li>
		        </ul>
		    </div>
		</div>


        <div class="pure-u-1" id="main">
			<div class="header">
			    <h1>DigitalZ</h1>  
			    <h2>News & more...</h2>  
			</div>


			<div class="content">	

			</div>
    	</div>
    </div>
   

        
        <script src="js/main.js"></script>
    </body>
</html>