<h1>Editer l'exercice</h1>

<%= render 'form' %>

<div class="medium default btn">
	<%= link_to 'Montrer', @exercice %>
</div>
<div class="medium default btn">
	<%= link_to 'Retour à la liste', exercices_path %>
</div>
