			  
			    <div class="row" id="footer">
			    	<p><small>Dusportpourtous.fr ©2013 | Tous droits réservés - Site Internet développé avec  amour par <a href="http://www.zaza4k.com">DigitalZ</a></small></p>
			      

			      
			    </div>