<footer class="row">
<div class="large-12 columns">
  <hr />
  <div class="row">
    <div class="large-12 columns">
      <p class="text-center"><small>&copy;2013 Dusportpourtous.fr | Tous droits réservés - Lancé sur les rails avec amour par <a href="http://www.zaza4k.com">DigitalZ</a></small></p>
    </div>
  </div>
</div> 
</footer>
